<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411726864520-tqcjno95pi46h0nn3dbvpijrbpll330a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411726864520-tqcjno95pi46h0nn3dbvpijrbpll330a</string>
	<key>API_KEY</key>
	<string>AIzaSyCECIocDgTcCYIchkbbRNjkuuWZMV35Ms0</string>
	<key>GCM_SENDER_ID</key>
	<string>411726864520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.iteris.CryptoCoin</string>
	<key>PROJECT_ID</key>
	<string>crypto-coin-iteris</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-coin-iteris.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411726864520:ios:3b472d7ffb5bb5597d3f3d</string>
</dict>
</plist>